.idea/
.ipynb_checkpoints
__pycache__/
*.ini

set_env.sh
data/mdf_crawl/
mdf_crawl.csv
cdiac_crawl.csv
scripts/

env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST